.project-card {
    flex: 0 1 calc(30% - 20px); /* 3 cards per row with some spacing */
    margin: 17px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: left; /* Align text to the left */
}

.project-card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Add a larger shadow on hover */
}

.project-image {
    width: 100%;
    height: auto;
}

.project-details {
    padding: 15px;
}

.project-details h3 {
    margin: 10px 0;
}

.project-details p {
    margin: 5px 0;
}

.view-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.view-button:hover {
    background-color: #008080;
}

.view-button:active {
    transform: scale(1.1); /* Scale the button size when clicked */
}
