/* src/About.css */
.about-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 100px;
}

.about-image img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.about-text {
  max-width: 600px;
  margin-left: 20px;
}

.about-text h2 {
  color: #008080;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  font-size: 40px;
}

.about-text p {
  margin-bottom: 10px;
  line-height: 1.6;
}

.hire-me-container {
  display: flex;
  margin-top: 20px;
}

.hire-me-button {
  background-color: #008080;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.hire-me-button:hover {
  transform: scale(1.1);
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .about-page {
    flex-direction: column;
    padding: 50px;
    text-align: center;
  }

  .about-image img {
    width: 250px;
  }

  .about-text h2 {
    font-size: 35px;
  }

  .about-text p {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .about-page {
    padding: 30px;
  }

  .about-image {
    display: none; /* Hide the image */
  }

  .about-text h2 {
    font-size: 30px;
  }

  .about-text p {
    font-size: 0.9rem;
  }

  .hire-me-button {
    padding: 10px 15px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .about-text h2 {
    font-size: 25px;
  }

  .about-text p {
    font-size: 0.8rem;
  }

  .hire-me-button {
    padding: 8px 12px;
    font-size: 0.9rem;
  }
}
